<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZWxIxVYr6McPhKmYz_dXkP3xPsVWuqPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>958764576835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gpsTestIos</string>
	<key>PROJECT_ID</key>
	<string>gps-test-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>gps-test-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958764576835:ios:b9c6a4c1c6c6c6c6c6c6c6</string>
</dict>
</plist>